<h1 class="text-brand-primary">Dashboard</h1>
<p class="text-sm">Manage your money with ease.</p>
<div class="row">
  <div class="col">
    <h2>Accounts</h2>
    <p>Net income <strong>$1,000</strong></p>
    <ul class="list-unstyled">
      <li><a href="#">Cash on hand $3,000</a></li>
      <li><a href="#">Santander Debit XXXX $2,000</a></li>
      <li><a href="#">Santander Credit XXXX $4,000</a></li>
    </ul>
    <a href="#" class="btn btn-primary">New account</a>
    <div class="mt-5"></div>
    <h2>Categories</h2>
    <p>Most used</p>
    <ul class="list-unstyled">
      <li><a href="#">Sales</a></li>
      <li><a href="#">Transportation</a></li>
      <li><a href="#">Rent</a></li>
      <li><a href="#">Payroll</a></li>
      <li><a href="#">Home & Maintenance</a></li>
    </ul>
    <a href="#" class="btn btn-primary">New category</a>            
  </div>
  <div class="col">
    <h2>Averages</h2>
    <p>All time</p>
    <div class="row">
      <div class="col text-center">
        <div class="card">
          <div class="card-body">
            <h3 class="text-success">$5,000</h3>
          </div>
        </div>
        <p>Average monthly income</p>
      </div>
      <div class="col text-center">
        <div class="card">
          <div class="card-body">
            <h3>$5,000</h3>
          </div>
        </div>
        <p>Average monthly expense</p>
      </div>              
    </div>
    <div class="mt-5"></div>
    <h2>Cash Flow</h2>
    <p>Last 12 months</p>
    [LINE_CHART]
    <div class="mt-5"></div>
    <h2>Expenses Breakdown</h2>
    <p>This year</p>
    [PIE_CHART]            
  </div>
</div>