<footer class="text-center pt-3 pb-3">
  <span class="text-brand text-brand-secondary">cash</span><span class="text-brand text-brand-primary">cash-rails</span>
  <div class="text-sm">
    <%= Time.zone.now.year %>. Ruby on Rails application for money management.<br>
    <%= link_to "<i class='fab fa-github'></i> @tolesco".html_safe, 'https://github.com/tolesco', target: '_blank' %>
  </div>
</footer>