<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading text-brand">
    <a href="<%= root_path %>" style="text-decoration: none;">
      <span class="text-brand-secondary">cash</span><span class="text-brand-primary">cash-rails</span>
    </a>
  </div>
  <div class="list-group list-group-flush">
    <a href="<%= root_path %>" class="list-group-item list-group-item-action">
      <i class="fas fa-fw fa-light fa-tachometer-alt"></i> Register
    </a>
    <a href="<%= money_transactions_path %>" class="list-group-item list-group-item-action">
      <i class="fas fa-fw fa-light fa-money-check-alt"></i> Login
    </a>
  </div>
</div>
<!-- /#sidebar-wrapper -->